# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
android/
ios/
!modules/**/android/
!modules/**/ios/

# Metro
.metro-health-check*

# Debug / logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Env
.env*.local

# Test / coverage
coverage/
